#header {
  width: 95%;
  position: fixed;
  justify-content: space-between;
  display: flex;
  top: 0;
  left: 0;
  background-color: white;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 70px;
}

#header > img {
  display: inline-block;
  width: 500px;
}

#nav-bar {
  flex-grow: 1;
  max-width: 35%;
  min-height: 70px;
}

#nav-bar ul {
  display: flex;
  justify-content: space-between;
}

#nav-bar ul li {
  display: inline;
}

.form {
  margin: 0 auto;
  display: flex;
}

#email,
#submit {
  display: block;
  margin: 20px auto;
}

#features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 70%;
}

.card img {
  max-width: 100px;
  max-height: 100px;
}

#video-container {
  margin: 0 auto;
}

#pricing {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#pricing .pcard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  margin: 0 10px;
  border: 1px solid black;
}
#pricing .pcard h2,
p {
  text-align: center;
}
#pricing .pcard button {
  margin: 0 auto;
}

@media (max-width: 768px) {
  header {
    flex-wrap: wrap;
  }

  #header > img {
    width: 350px;
    height: 40px;
  }

  #nav-bar {
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  #nav-bar {
    max-width: 100%;
  }

  body {
    margin-top: 100px;
  }

  iframe {
    width: 400px;
  }
}
